<h1><%= @guest.name %>'s Rooms Stayed In</h1>
<br>
<%# <%= @hotels.each do |hotel| %>
  <%# <%= hotel.name %>
    <% @rooms.each do |room| %>
      Hotel: <%= room.hotel.name %>
      <br>
      Suite: <%= room.suite %>
      <br>
      Rate: <%= room.rate %>
    <br>
    <br>
  <% end %>
<%# <% end %>
