<h1> <%= @guest.name %>'s Page </h1>
<br>
Rooms:
<br>
<% @guest.rooms.each do |room| %>
  Rate: $<%= room.rate %>.00, Suite: <%= room.suite %>, Hotel: <%= room.hotel.name %>
  <br>
<% end %>

<%= form_with url: "/guests/#{@guest.id}/guest_rooms", method: :post, local: true do |f| %>
  <%= f.label "Suite ID: "  %>
  <%= f.number_field :room_id %>
  <%= f.submit "Submit" %>
<% end %>