<h1> <%= @guest.name %>'s Page</h1>
<br>
<h4>Past Stays:</h4>
<ul>
  <% @guest.rooms.each do |room| %>
    <li> <%= room.suite %> - rate: $<%= room.rate %>/night, hotel: <%= room.hotel.name %></li>
    <br>
  <% end %>
</ul>
  
<%= form_with url: "/guests/#{@guest.id}", method: :post, local: true do |form|  %>
  <p><%= form.label :room_id, "Book a New Room:" %><br></p>
  <p><%= form.text_field :room_id %>
  <%= form.submit "Submit" %></p>
<% end %>
