<h1><%= @guest.name %></h1>

<ul id='rooms'>
	<% @rooms.each do |room| %>
		<li>
			<%= room.suite %>: <%= room.rate %> - <%= room.hotel.name %>
		</li>
	<% end %>
</ul>

<%= render partial: 'select_room', locals: {
	uri: "/room_guests/#{@guest.id}",
	label: :room_id,
	list: @all_rooms,
	button: 'Add Room'
} %>