<h1><%= "Guest Name: #{@guest.name}" %></h1>

<% @guest_rooms.each do |room| %>
  <div class="room" id="room-<%= room.id %>">
    <p><%= "Hotel: #{room.hotel.name}" %></p>
    <p><%= "Suite: #{room.suite}" %></p>
    <p><%= "Rate: #{room.rate}" %></p>
  </div>
<% end %>

<div class="room" id="new_room">
  <h3>Add New Room</h3>
  <%= form_with url: "/guests/#{@guest.id}/rooms", method: :post, local: true do |form| %>
    <p><%= form.label :room_id, "Room ID: " %></p>
    <p><%= form.text_field :room_id %></p>
    <p><%= form.submit "Submit" %></p>
  <% end %>
</div>