<h1> Name: <%= @guest.name %></h1>

<div id="rooms_stayed">
<p> Rooms Stayed In:</p>
<ul>
<% @guest.rooms.each do |room| %>
<li> <%= room.suite %> ($<%= room.rate %> at the <%= room.hotel.name %>) </li>
<% end %>
</ul>
</div>

<div id="add_rooms">
	<%= form_with url: "/guests/#{@guest.id}", method: :patch, local: true do |form| %>
    <p><%= form.label :add, "Add a room id to guest" %> </p>
		<p><%= form.text_field :id, required: true %></p>
    <p><%= form.submit "Submit" %></p>
	<% end %>
</div>