<h2>Name: <%= @guest.name %> </h2>

<h3>Rooms:</h3>
<br>
<ul><%@guest.rooms.each do |room|%>
  <li>Room Name: <%= room.suite %></li>
  <li>Rate: <%= room.rate%></li>
  <li>Hotel: <%= room.hotel.name%></li>
  <br>
</ul>
<% end %>

<%= form_with url: "/guests/#{@guest.id}/guest_rooms", method: :post, local: true do |f|  %>
 <%= f.label "ID: " %>
 <%= f.number_field :room_id %>
 <%= f.submit "Submit" %>
<% end %>