<h1> All Rooms: </h1>

<% @rooms.each do |room| %>
  <h3> Suite: <%= room.suite %> </h3>
  <h3> Nightly Rate: <%= room.rate %> </h3>
  <h3> Hotel: <%= room.hotel.name %> </h3>
  <div id = "count-<%= room.id %>">
  <h3> Number of Previous Guests: <%= room.room_guests.count %> </h3>
  </div>
  <br>
<% end %>