<ul><% @rooms.each do |room| %>
  <div id="room-<%= room.id %>">
    <li><%= room.suite %>- Rate: <%= room.rate %>, Hotel: <%= room.hotel.name %>, Number of guests stayed: <%= room.guests.count_guests %></li>
  </div>
<% end %>
</ul>