<h1>All Rooms</h1>

<% @hotels.each do |hotel| %>
	<div id="<%= hotel.id %>">
		<h3><%= link_to "#{hotel.name}", "/hotels/#{hotel.id}" %></h3>
		<% hotel.rooms.each do |room| %>
			<p>Suite: <%= room.suite %> - Rate: <%= room.rate %>, Guests Stayed: <%= room.guest_count %></p>
		<% end %>
	</div>
<% end %>